/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
  }

  h1 {
    text-align: center;
    margin: 20px 0;
  }

  /* Estilos para los pedidos */
  #pedido {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
  }

  #pedido p {
    margin: 5px 0;
  }

  #pedido form {
    display: inline-block;
    margin: 0;
    padding: 0;
  }

  #pedido form input[type="submit"] {
    background-color: transparent;
    border: none;
    color: #ff0000;
    padding: 5px;
    cursor: pointer;
  }

  #pedido form input[type="submit"]:hover {
    text-decoration: underline;
  }

  #pedido a {
    display: inline-block;
    background-color: #4caf50;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-left: 10px;
  }

  #pedido a:hover {
    background-color: #45a049;
  }
